<header>
    <a href="/manager" class="title">Post manager</a>
    <nav>
        <ul class="menu">
            <li><a href="/post" class="btn btn-menu">+ Create post</a></li>
        </ul>
    </nav>
</header>
